.dropdown-submenu {
	position: relative;
  }
  
  .dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
	top: 0;
  /*   left: 100%;
	margin-left: .1rem;
	margin-right: .1rem; */
  }
  .genius-header-container{
    margin-top: 50px;
    margin-bottom: 50px;
  }
 
  @media only screen and (max-width: 768px) {
 
    .fixed-top{
      position:static !important;
      }
     
    }
   
    
      @media only screen and (max-width: 768px)  {
  nav{
    position: relative;
    }
      }
   @media only screen and (max-width: 768px)  {
    .nav-btn-container{
      flex: 0 0 58.333333%;
    max-width: 58.333333%;
    }
 }
 @media only screen and (min-width: 2800px)  {
  .nav-img-container{
    flex: 0 0 3.333333%;
  max-width: 3.333333;
  }
 }
 /* @media only screen and (min-width: 992px) and (max-width: 1200px)  {
  .nav-img-container{
    flex: 0 0   10.666667% !important;
  max-width:   10.666667% !important;
  }
 }
  */
